<!doctype HTML>
<html>
<head>

<!--<link rel="stylesheet" href="/stylesheets/rmm-css/responsivemobilemenu.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/stylish.css">-->


<title>Blog Post</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<meta name="viewport" content="initial-scale=1.0, user-scalable=0"><meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
-->

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <!--DOPE-->

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 78px)" href="/stylesheets/styling.css"> 
<!--<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 767px)" href="/stylesheets/styles.css"> -->
<!--<link rel='stylesheet' media='screen and (min-width: 701px) and (max-width: 900px)' href='css/medium.css' />-->
<!-- 768 1024 --> 

</head>
<body id = "memory_post_page">

	<!--<span id="originalPercent">%</span>  WORKS BUT I'M NOT SURE WHERE TO PUT IT--> 

	{% if username %} 
		<div id="menu">
			<a id ="home" href="/">Memry</a>
			<span id ="title">{{post['title']}}</span>
			<!--<span id="title">%</span>-->
			<a id="profile" href="/profile">Profile</a>
			<!--<a href="/newpost" id ="newPost" >New Post</a>-->
		</div>

        {% else %}
	You are not logged in!        
		<a href="/login">Login</a> | <a href="/signup">Sign Up</a>

	{% endif %}
	{% autoescape false %}


	<!--<a id="previous" href="/post/previous/{{post['permalink']}}"></a>
	<a id="next" href="/post/next/{{post['permalink']}}"></a>	-->


	{% if post['words'].length > 0 %}
		<div id="content">{{post['content']}}</div>


	{% else %}
		<canvas id="canvas">
			<img id="imageContent" src="{{post.image_path}}"></img>
		</canvas>
	{% endif %}



<!--	<div id="links">

		{% for link in mylinks %}

		<br>
		<a class="memry" href="/post/{{link['permalink']}}">{{link['title']}}</a>
		<br>
		<a id="postBody" href="/post/{{link['permalink']}}">
			{% autoescape false %}
			{{link.percentage}}
			{% endautoescape %}
			
			<span>87%</span>
		</a>
		<br>
		<hr>

		{% endfor %}
	</div>
-->



<div id="testing" style="color:white";>

{{post.student}}
<br>
{{username}}

</div>






	<div id="buttons">


	<!--	<a id="forgetThis" href="/post/forget/{{post['permalink']|url_encode}}/{{post['title']|url_encode}}">Forget</a>
		<a id="remindMe">Remind</a>-->



		<a id="previousButton"><</a>
		<a id="nextButton">></a>

<!--	
		<a id="previousButton" href="/post/previous/{{post['permalink']}}"><</a>
		<a id="nextButton" href="/post/next/{{post['permalink']}}">></a>

-->

		<a id="forgetThis" href="/post/forget/{{post['permalink']|url_encode}}/{{post['title']|url_encode}}/{{post['class_number']|url_encode}}"><img id="forgetThis" src="../../icons/forget.png"></img></a>
		<img id="remindMe" src="../../icons/remind.png"></img>		

	
	
		{% if post['words'].length > 0 %}
		<div class="bottomMid" id="answerBox" spellcheck="true" contenteditable ="true"></div>
		{% else %}
		<div class="bottomMid" id="imageMid"></div>
		{% endif %}



		{% if username %} 
		
		<a id="followThis" href="/post/follow/{{post['title']|url_encode}}/{{post['class_number']|url_encode}}">Follow</a>
	
		{% endif %}

		<!--Will include Follow, Join, and Copy--> 
		{% if post['words'].length > 0 %}
		<!--<a id="memorizeThis" href="/post/join/{{post.title|url_encode}}/{{post.permalink|url_encode}}">Join</a>-->
		<!--<a id="memorizeThis" href="/post/rememberText/{{post.title|url_encode}}/{{post.permalink|url_encode}}">Copy</a>-->
		{% else %}
		<!--<a id="memorizeThis" href="/post/join/{{post.title|url_encode}}/{{post.permalink|url_encode}}">Join</a>-->
		<!--<a id="memorizeThis" href="/post/rememberImage/{{post.title|url_encode}}/{{post.permalink|url_encode}}">Copy</a>-->
		{% endif %}
	</div>




	{% endautoescape %}




<!-- So basically what should happen is that 
1. If the user is the author Remind and Forget are options.  
2. If the user is logged in, but its not theirs than Follow and Memorize Text or Image are options  
3. If the uset is not logged in Login or Signup are shown 
-->



<div id="hidden">
	<div id="imagePath">{{post.image_path}}</div>
	<div id="postTitle">{{post.title}}</div>
	<div id="author">{{post.author}}</div>
	<div id="student">{{post.student}}</div>
	<div id="username">{{username}}</div>
	<div id="words">{{post.words}}</div>
	<div id="original">{{post['body']}}</div>
	<div id="current">{{post.current}}</div>
	<div id="created">{{post.created}}</div>
	<div id="date">{{post.date}}</div>
	<div id="imageStrength">{{post.image_strength}}</div>
	<div id="answered">{{post.answered}}</div>
	<div id="reminded">{{post.reminded}}</div>
	<div id="copy">{{post.copy}}</div> 
	<div id="isStudent">{{isStudent}}</div>
	<div id="class_number">{{post.class_number}}</div>

</div>


</body>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src = "../../js/jquery-1.10.2.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="../js/jquery.ui.touch-punch.js"></script>-->

<script src = "../../js/script.js"></script>


<!--<script>$('#canvas').click(function(){alert('adf')});</script>-->
<script>
//$('drag').draggable();
//$(document).bind('touchmove', false);
//$(document).bind('touchstart', function(){alert('adf');}); 
</script>

</html>


















<!--<div id ="letters">{{post.letters}}</div> eeded a space. don't know y. $(#)=undefined -->


<!--

Comments:
<ul>
{% for comment in post.comments %}
Author: {{comment['author']}}<br>
{{comment['body']}}<br>
<hr>
{% endfor %}
<h3>Add a comment</h3>
<form action="/newcomment" method="POST">
<input type="hidden" name="permalink", value="{{post['permalink']}}">
<h4>{{errors}}</h4>
<b>Name</b> (required)<br>
<input type="text" name="commentName" size="60" value="{{comment['name']}}"><br>
<b>Email</b> (optional)<br>
<input type="text" name="commentEmail" size="60" value="{{comment['email']}}"><br>
<b>Comment</b><br>
<textarea name="commentBody" cols="60" rows="10">{{comment['body']}}</textarea><br>
<input type="submit" value="Submit">
</ul>



	<p id = "tags">
	<em>tags</em>:
{% for tag in post.tags %}
{% if loop.first %}
        <a href="/tag/{{tag}}">{{tag}}</a>
{% else %}
       ,<a href="/tag/{{tag}}">{{tag}}</a>
{% endif %}
{% endfor %}
	</p>


-->


