<!DOCTYPE html>
<html>
<head>
<title>My Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <!--DOPE-->

<!--link(rel='stylesheet', type='text/css', href='/stylesheets/itinerated.css')-->
<link rel="stylesheet" type="text/css" href="/stylesheets/styling.css">

</head>



<body id = "students_page">



{% if username %}
<div id="menu">

	<a href="/" id="home"> Memry </a> 
	<a href="/profile" id="profile">{{username}}</a> 
</div>


	<a href="/profile/students/{{title}}" id="new">New</a>
	<a href="/profile/students/{{title}}/top" id="top">Top %</a>




	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get"  action="/find" > 
		        <input type="text"  value="{{search}}" class="tftextinput" name="yo" size="21" maxlength="120"><input type="submit" value="FIND" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>

{{title}}
{{path}}
<h1>Welcome students</h1>


<div id="memories">

	{% for post in myposts %}
	<a class="memry" href="/post/{{post['permalink']}}/0">
		{{post['title']}}
		<!--<div id="postTime"> Posted {{post['date']}} <i>Bye {{post['author']}} and {{post['answers']}}</i></div> --><!--Comments:<a href="/post/{{post['permalink']}}">{{post['comments']|length}}</a>-->
		<span class="grades">{{post['grade']}}%</span>
		<span class="studentNames">{{post['student']}}</span>

	</a>

	<a id="postBody" href="/post/{{post['permalink']}}">
	{% autoescape false %}
	{{post['letters']}} 
	{% endautoescape %}
	{{post['tags']}}
	</a>

	{% for tag in post.tags %}
	    {% if loop.first %}
		<a href="/tag/{{tag}}">{{tag}}</a>
	    {% else %}
		, <a href="/tag/{{tag}}">{{tag}}</a>
	    {% endif %}

	{% endfor %}


	{% endfor %}
</div>

<div id="footMenu">
	<a href="/logout" id="logout">Logout</a>
	<a href="/newpost" id ="newPost" >Add Memry</a>
</div>

<div id="hidden">

	<div id="imagePath">{{post.image_path}}</div>
	<div id="postTitle">{{post.title}}</div>
	<div id="author">{{post.author}}</div>
	<div id="student">{{post.student}}</div>
	<div id="username">{{username}}</div>
	<div id="words">{{post.words}}</div>
	<div id="original">{{post['body']}}</div>
	<div id="current">{{post.current}}</div>
	<div id="created">{{post.created}}</div>
	<div id="date">{{post.date}}</div>
	<div id="imageStrength">{{post.image_strength}}</div>
	<div id="answered">{{post.answered}}</div>
	<div id="reminded">{{post.reminded}}</div>
	<div id="copy">{{post.copy}}</div> 

</div>


{% else %}
	<h1>You are not logged in!</h1>        <a href="/login">Login</a> | <a href="/signup">Sign Up</a><p>
{% endif %}



</body>

<script src = "../../js/jquery-1.10.2.min.js"></script>
<script src = "../../js/script.js"></script>
</html>



